<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Suppression d'un document</h4>
            </div>
            <div class="modal-body">
                <p>Etes vous sur de vouloir supprimer ce document ?</p>
                <hr />
                <a href="#" data-dismiss="modal" aria-label="Close" class="btn btn-default">Annuler</a>
                {% for doc in docs %}
                    <a href="{{ path('documents_delete', {'id':  doc.Id  }) }}" class="btn btn-warning">Supprimer</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>