{% extends '::base.html.twig' %}

{% block main_content -%}
    <h1>Documents edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('documents') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
