security:
    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ANNUAIRE_ADMIN: ROLE_USER
        ROLE_OFFRE_ADMIN: ROLE_USER
        ROLE_FORMATION_ADMIN: ROLE_USER
        ROLE_ADMIN:       [ROLE_USER, ROLE_ANNUAIRE_ADMIN, ROLE_OFFRE_ADMIN, ROLE_FORMATION_ADMIN]
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email

    firewalls:
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_provider: security.csrf.token_manager # Use form.csrf_provider instead for Symfony <2.4
            http_basic: ~
            logout:       true
            anonymous:    true
            remember_me:
                key:      "%secret%"
                lifetime: 604800 # 1 week in seconds
                path:     /

    access_control:
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/admin/register/contact, role: ROLE_ANNUAIRE_ADMIN }
        - { path: ^/admin/formations/*, role: ROLE_FORMATION_ADMIN }
        - { path: ^/admin/offres-emploi/*, role: ROLE_OFFRE_ADMIN }
        - { path: ^/admin/, role: ROLE_ADMIN }
        - { path: ^/documents/, role: ROLE_USER }
        - { path: ^/annuaire/, role: ROLE_USER }
        - { path: ^/message/, role: ROLE_USER }
        - { path: ^/agenda/, role: ROLE_USER }
        - { path: ^/profile/, role: ROLE_USER }
        - { path: ^/*, role: [IS_AUTHENTICATED, ROLE_USER] }