// background colors

$login-bg          : #EEEDEB; // used by the top bar too
$login-wrapper-bg  : #dbd7ce;
$login-title-bg    : #86817A;
$login-submit-bg   : #ADA597;
$login-submit-hover-bg : #8A7F6D;
$tiles-bg          : #e4e3e1;

$tile1 : #9bcedc;
$tile2 : #e1d85d;
$tile3 : #a1d68a;
$tile4 : #e0a494;
$tile5 : #abb7d2;
$tile6 : #e8ac79;

$tile1-bg : #D7EBF1;
$tile2-bg : #F1ECB1;
$tile3-bg : #D1EBC5;
$tile4-bg : #F2D9D2;
$tile5-bg : #D3D9E7;
$tile6-bg : #F4D7BE;

$topbar-bg : #87827B;
$menu-trigger-bg : #87827B;


// dimensions

$top-bar-height : 80px;
$menu-trigger-w : 10px;


// autre

$datatables-name : "donnees";