// background colors
////////////////////

$login-bg              : #EEEDEB; // used by the top bar too
$login-wrapper-bg      : #dbd7ce;
$login-title-bg        : #86817A;
$login-submit-bg       : #ADA597;
$login-submit-hover-bg : #8A7F6D;
$tiles-bg              : #e4e3e1;
$top-bar-bg            : #87827B;

// tiles colors
$tile1 : #9bcedc;
$tile2 : #e1d85d;
$tile3 : #a1d68a;
$tile4 : #e0a494;
$tile5 : #abb7d2;
$tile6 : #e8ac79;

// body backgrounds
$tile1-bg      : #D7EBF1;
$tile2-bg      : #F1ECB1;
$tile3-bg      : #D1EBC5;
$tile4-bg      : #F2D9D2;
$tile5-bg      : #D3D9E7;
$tile6-bg      : #F4D7BE;

$ged-bg        : #E5F6F1;
$agenda-bg     : #F8F5D6;
$annuaire-bg   : #E7EFFF;
$emploi-bg     : #F2D9D2;
$formations-bg : #D3D9E7;
$emploi-bg     : #F4D7BE;


// DataTables rows
$default-head-rows-bg    : #87827B;
$default-odd-rows-bg     : #fff;
$default-even-rows-bg    : #fff;
$documents-head-rows-bg  : #559FB2;
$documents-odd-rows-bg   : #D0E6EC;
$documents-even-rows-bg  : #C3DFE7;
$agenda-head-rows-bg     : #fff;
$agenda-odd-rows-bg      : #fff;
$agenda-even-rows-bg     : #fff;
$annuaire-head-rows-bg   : #8E99AF;
$annuaire-odd-rows-bg    : #D2D8E7;
$annuaire-even-rows-bg   : #C7CFE1;
$emploi-head-rows-bg     : #fff;
$emploi-odd-rows-bg      : #fff;
$emploi-even-rows-bg     : #fff;
$formations-head-rows-bg : #fff;
$formations-odd-rows-bg  : #fff;
$formations-even-rows-bg : #fff;
$dialogue-head-rows-bg   : #fff;
$dialogue-odd-rows-bg    : #fff;
$dialogue-even-rows-bg   : #fff;

// main > h1 backgrounds
$documents-main-title-bg  : $documents-head-rows-bg;
$agenda-main-title-bg     : #A29F79;
$annuaire-main-title-bg   : #939EB3;
$emploi-main-title-bg     : #fff;
$formations-main-title-bg : #fff;
$dialogue-main-title-bg   : #fff;

// main backgrounds
$documents-main-bg  : $documents-odd-rows-bg;
$agenda-main-bg     : #EFEAA7;
$annuaire-main-bg   : #D4DDEC;
$emploi-main-bg     : #fff;
$formations-main-bg : #fff;
$dialogue-main-bg   : #fff;

// main submit button backgrounds
$default-submit-bg    : #A7A39E;
$documents-submit-bg  : #82B9C7;
$agenda-submit-bg     : #BBB99D;
$annuaire-submit-bg   : #B0B8C7;
$emploi-submit-bg     : #fff;
$formations-submit-bg : #fff;
$dialogue-submit-bg   : #fff;

// fields errors
$field-error: #B88E8D;


// dimensions
/////////////

$top-bar-height : 80px;
$menu-trigger-w : 10px;
$h1-height      : 50px;
$main-submit    : 40px;


// autre
////////

$datatables-name : "donnees";