// background colors

$login-bg          : #2B76AA; // used by the top bar too
$login-wrapper-bg  : #2F79AD;
$login-title-bg    : #94C8F3;
$login-submit-bg   : #2F79AD;
$login-submit-hover-bg   : #579ED1;
$tiles-bg          : #2881C0;

$tile1-bg : #79E2C4;
$tile2-bg : #57DEC2;
$tile3-bg : #7DD2FA;
$tile4-bg : #7AC0FA;
$tile5-bg : #75D0E0;
$tile6-bg : #5FDDCA;


// dimensions

$top-bar-height : 80px;
$menu-trigger-w : 10px;


// autre

$datatables-name : "donnees";