{% extends 'base.html.twig' %}

{% block body_class %}<body id="ged">{% endblock %}

{% block main_content %}
    {{ include('includes/topbar.html.twig') }}
    {{ include('includes/sidebar.html.twig') }}

    <main>

        <div id='calendar'></div>

    </main>

{% endblock %}

{% block scripts %}

{{ parent() }}

{% endblock %}