// links
// login
//    containers
//    fields
//    submit button
//    checkbox & password forgotten
//    invalid login data
// top bar
// menu (side bar)
// tiles
//    news ticker
//    positioning
//    colors
//    content
// statistics
// backgrounds
// <main> containers
// back office
// headers
// buttons + flashbag
// edit forms
// media queries


body {
  background: $login-bg;
  font-family: Arial, sans-serif;
  font-size: 16px;
}


/* //////////////// links //////////////// *\
\* /////////////////////////////////////// */

a { text-decoration: none !important; }
a:hover, a:active, a:focus { color: inherit; }


/* //////////////// login //////////////// *\
\* /////////////////////////////////////// */

// containers

#login {
  height: 100%; max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -2% auto 0;
  border: 20px solid transparent;
}
.login-wrapper {
  padding: 60px 15%;
  background: $login-wrapper-bg;
}

// fields

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="submit"] {
  display: block; width: 100%; height: 50px;
  margin-bottom: 15px;
  padding: 5px 40px;
  border: 0; outline: none;
  transition: background .75s;
}
#login-form ::-webkit-input-placeholder { font-style: italic; }

// submit button

#login-form input[type="submit"] {
  margin: 25px 0 10px;
  color: #fff;
  background: $login-submit-bg;
}
#login-form input[type="submit"]:hover,
#login-form input[type="submit"]:active,
#login-form input[type="submit"]:focus {
  background: $login-submit-hover-bg;
}

// checkbox & password forgotten

#login-form input[type="checkbox"] { margin-left: 40px; }
#login-form a { float: right; margin-right: 40px; }
#login-form label, #login-form a {
  font-size: 0.8em;
  font-weight: normal; // écrase Bootstrap (?)
}
#login-form > div {
  position: relative;
  height: 25px; line-height: 25px;
}

// invalid login data

.invalid {
  background: $field-error;
  font-style: italic;
  color: #fff;
  padding: 5px 40px;
  margin-bottom: 15px;
}


/* //////////////// top bar //////////////// *\
\* ///////////////////////////////////////// */

#top-bar {
  position: fixed; z-index: 9; top: 0;
  width: 100%;
  height: $top-bar-height; line-height: $top-bar-height;
  padding: 0 10%;
  background: $top-bar-bg; color: #fff;
}
#top-bar div { float: right; }
#top-bar a {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  background: none;
  transition: background .5s;
}
#top-bar a:hover { background: rgba(255,255,255,0.15); }


/* //////////////// menu (side bar) //////////////// *\
\* ///////////////////////////////////////////////// */

#menu-wrapper {
  position: fixed; z-index: 9;
  height: calc(100% - #{$top-bar-height}); margin-top: -50px;
  width: 20%; max-width: 350px; min-width: 200px;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
#menu-wrapper:hover { transform: translateX(0); }
#menu-trigger {
  position: absolute; top: 0; right: -$menu-trigger-w;
  height: 100%; width: $menu-trigger-w;
  background: $top-bar-bg;
}
.arrow-right {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 0; height: 0;
  border: 0 solid transparent;
  border-width: 15px 0 15px 6px;
  border-left-color: #fff;
  opacity: 0.8;
}
nav {
  display: flex; height: 100%;
  flex-direction: column;
}
nav a {
  flex: 1;
  position: relative;
  color: #000 !important;
}
nav span, nav img {
  position: absolute; top: 50%; transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 0.5s;
}
nav span {
  margin-left: 35%;
  font: italic bold 120% Arial;
}
nav img {
  margin-left: 7%;
  width: 20%;
}
nav a + a { border-top: 1px solid $top-bar-bg; }
nav a:hover img { opacity: 1; }
nav a:hover span { opacity: 0.5; }


/* //////////////// tiles //////////////// *\
\* /////////////////////////////////////// */

// news ticker

#marquee {
  position: absolute;
  display: block; width: 100%;
  margin-top: 100px;
  height: 25px; line-height: 25px;
  overflow: hidden;
  list-style: none;

}
#marquee li {
  position: absolute;
  top: -999em;
  display: inline-block; width: 100%;
  text-align: center;
}

// positioning

#tiles-wrapper {
  list-style: none;
  max-width: 1300px; margin: 0 auto 0; min-height: 100%; padding: $top-bar-height + 60px 30px 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; align-content: center;
}
#tiles-wrapper li {
  position: relative;
  flex: auto;
  width: 30%; min-width: 350px; height: 265px;
  margin: 5px;
}

// colors

#tiles-wrapper li:nth-child(1), .tile1 { background: $tile1; }
#tiles-wrapper li:nth-child(2), .tile2 { background: $tile2; }
#tiles-wrapper li:nth-child(3), .tile3 { background: $tile3; }
#tiles-wrapper li:nth-child(4), .tile4 { background: $tile4; }
#tiles-wrapper li:nth-child(5), .tile5 { background: $tile5; }
#tiles-wrapper li:nth-child(6), .tile6 { background: $tile6; }
#accueil.tile1 { background: $tile1-bg; }
#accueil.tile2 { background: $tile2-bg; }
#accueil.tile3 { background: $tile3-bg; }
#accueil.tile4 { background: $tile4-bg; }
#accueil.tile5 { background: $tile5-bg; }
#accueil.tile6 { background: $tile6-bg; }

// content

#tiles-wrapper a {
  display: block;
  width: 100%; height: 100%;
  padding-top: 7%;
  font-size: 1.5em;
  color: #000;
  font-weight: bold; font-style: italic;
  text-align: center;
}
#tiles-wrapper span {
  opacity: 0.3;
  transition: opacity 1s;
}
#tiles-wrapper li:hover .rubrique, #tiles-wrapper li:active .rubrique, #tiles-wrapper li:focus .rubrique {
  opacity: 0.5;
}
#tiles-wrapper .rubrique + span {
  position: absolute;
  bottom: 5px; right: 20px;
  font-size: 0.75em;
}
#tiles-wrapper li:hover img, #tiles-wrapper li:active img, #tiles-wrapper li:focus img {
  opacity: 1;
}
#tiles-wrapper img {
  opacity: 0.3;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}


/* //////////////// statistics //////////////// *\
\* ////////////////////////////////////////////// */

#data-wrapper {
  background: $top-bar-bg;
  padding: 0 15%;
  height: 300px;
  padding-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#data-uploads {
  width: 60%; max-width: 700px;
  color: #fff;
  margin-right: 5%;
}
#data-uploads tr + tr {
  border-top: 1px solid #cbddeb;
}
#data-uploads td {
  padding: 10px 20px;
}
#data-uploads + div {
  width: 30%; max-width: 350px; min-width: 275px;
}
#data-wrapper a {
  display: block;
  background: rgba(255,255,255,0.6);
  height: 50px; line-height: 50px;
  padding: 0 10%;
  color: #000;
  border-radius: 5px;
  margin-bottom: 13px;
}


/* //////////////// backgrounds //////////////// *\
\* ///////////////////////////////////////////// */

#accueil {
  background: $tiles-bg;
  transition: background 1s;
}
#ged { background: #E5F6F1; }
#annuaire { background: #e9f6e4; }


/* //////////////// <main> containers //////////////// *\
\* /////////////////////////////////////////////////// */

main {
  position: relative;
  max-width: 85%;
  margin: $top-bar-height + 50px auto 50px;
}
.deep-main {
  max-width: 1000px;
  padding: $h1-height + 40px 50px 40px;
  background: $login-wrapper-bg;
}
.profile-data li {
  display: flex; align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 40px;
  background: none;
  transition: background .5s;
}
.profile-data li:hover { background: $login-bg; }
.profile-data li + li { border-top: 1px solid $login-bg; }
.profile-data li span + span { font-weight: bold; }
.avatar { text-align: center; margin-bottom: 10px; }

.main-submit {
  display: block; text-align: center;
  width: 70%; height: $main-submit; line-height: $main-submit;
  margin: 20px auto 0;
  border: 0;
  background: $login-submit-bg; color: #fff; border-radius: 5px;
  transition: background 0.5s;
}
.main-submit-double { text-align: center; }
.main-submit-double a {
  display: inline-block; width: auto;
  padding: 0 50px;
  margin-left: 3px; margin-right: 3px;
}
.main-submit:hover, .main-submit:active, .main-submit:focus {
  background: $login-submit-hover-bg;
  color: #fff;
}

// fields

.profile-data label {
  font-weight: normal;
}
.profile-data input, .profile-data select {
  border: none;
  width: 40%; min-width: 200px; height: 27px;
  padding: 0 30px;
}
.profile-data input:focus { outline: 1px solid $login-submit-bg; }
.upload-field input {
  width: auto; padding: 0;
}
.deep-main form ul + ul {
  background: $field-error; color: #fff;
  font-size: 0.9em; font-style: italic;
  list-style: none;
  text-align: center;
}
.deep-main form ul:nth-child(2) { margin-top: 30px; }
.deep-main form ul:last-of-type { margin-bottom: 30px; }


/* //////////////// back office //////////////// *\
\* ///////////////////////////////////////////// */

.fil li + li { margin-top: 10px; }
.fil a {
  display: inline-block;
  height: 30px; line-height: 30px;
  padding: 0 20px; margin: 0 5px;
  color: #000;
  background: $login-bg;
  border-radius: 5px;
  transition: background .5s;
}
.fil a:hover, .fil a:focus, .fil a:active { background: #fff; }


/* //////////////// headers //////////////// *\
\* ///////////////////////////////////////// */

#login h1 {
  position: static; margin: 0;
  font-size: 1.5em;
  height: 70px; line-height: 70px;
}
h1 {
  position: absolute; top: 0; left: 0;
  width: 100%;
  background: $top-bar-bg;
  margin: 0 0 30px;
  height: $h1-height; line-height: $h1-height;
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}
#ged h1 { background: #559FB2; }


/* //////////////// buttons + flashbag //////////////// *\
\* //////////////////////////////////////////////////// */

.button-add, .button-add:visited {
  display: block; position: relative; width: 30%; min-width: 250px; margin: -32px auto 0;
  text-align: center;
  padding: 15px 10px;
  background: #3DB2A8;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s;
}
.button-add:hover, .button-add:active {
  color: #fff;
  background: #35988F;
}
.flashbag {
  position: absolute;
  text-align: center;
  top: $top-bar-height;
  padding: 5px 15%;
  border-radius: 0 0 5px 5px;
  background: #2BB58E; color: #fff;
}
.flash-success {
  position: absolute; top: $h1-height; left: 0;
  width: 100%;
  text-align: center;
  padding: 2px 0;
  background: #2BB58E; color: #fff;
  font-size: 0.9em;
}


/* //////////////// edit forms //////////////// *\
\* //////////////////////////////////////////// */

.admin-form > form {
  max-width: 1000px; margin: auto;
  padding: 2% 5%;
  background: #D0E6EC;
}
.admin-form > form div {
  position: relative;
  height: 40px; line-height: 40px;
  margin: 15px 0;clear: both;
}
.admin-form > form input,
.admin-form > form textarea {
  float: right;
  width: 80%; height: 100%;
  border: 0; outline: 0;
  padding: 5px 30px;
}
.admin-form > form textarea {
  height: 170px;
  margin-bottom: 15px;
  resize: none;
}
#gedbundle_documents_finDeVie {
  float: right; margin: 0;
}
.admin-form > form select {
  height: 40px; width: 100px;
  margin-left: 5px;
  border: 0; outline: 0;
}
.admin-form > form p {
  font-style: italic;
}
.admin-form > form button[type="submit"] {
display: block;
  width: 70%;
  margin: 70px auto 0;
  background: #3DB2A8; color: #fff; border-radius: 5px; border: 0;
  transition: background 0.3s;
}
.admin-form > form button[type="submit"]:hover {
  background: #35988F;
}


/* //////////////// media queries //////////////// *\
\* /////////////////////////////////////////////// */

@media screen and (max-width: 800px)
{
  .flashbag { left: 0; right: 0; }
  ##{$datatables-name}_filter { width: 100%; }
}