body {
  background: $login-bg;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
#accueil {
  background: $tiles-bg;
  transition: background 1s;
}






.aligner {
  max-width: 600px; margin: auto;
  height: 100%; display: flex;
  flex-direction: column;
  justify-content: center;
}
.aligner > div:first-child {
  margin: -8% 0 2px;
  padding: 15px 0;
  background: $login-title-bg;
  color: #edecea; //#21618A;
  font-size: 2.8rem; font-weight: bold;
  text-align: center;
}

.login-wrapper {
  padding: 60px 90px;
  background: $login-wrapper-bg;
}

#login input[type="text"],
#login input[type="password"],
#login input[type="submit"] {
  display: block; width: 100%;
  height: 50px;
  border: 0; outline: none;
  margin-bottom: 15px;
  padding: 5px 40px;
  transition: background .75s;
}
#login ::-webkit-input-placeholder {
  font-style: italic;
}

#login input[type="submit"] {
  margin: 25px 0 10px;
  color: #fff; //#CBDDEB;
  background: $login-submit-bg;
}
#login input[type="submit"]:hover, #login input[type="submit"]:active, #login input[type="submit"]:focus {
  background: $login-submit-hover-bg;
}
#login input[type="checkbox"] {
  margin-left: 40px;
}
#login > div {
  position: relative;
  height: 25px; line-height: 25px;
}
#login label, #login a {
  font-size: 0.8em;
  font-weight: normal; // écrase Bootstrap (?)
}
#login a {
  float: right; margin-right: 40px;
}
.invalid {
  background: #B88E8D;
  font-style: italic;
  color: #fff;
  padding: 5px 40px;
  margin-bottom: 15px;
}




.button-ajout {
  width: 400px;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

#example_wrapper {
  max-width: 1400px;
  margin: auto;
}

#top-bar {
  position: fixed; z-index: 9; top: 0;
  //margin-bottom: 30px;
  width: 100%;
  height: $top-bar-height; line-height: $top-bar-height;
  padding: 0 10%;
  background: $topbar-bg;
  color: #fff;
  //border-bottom: 1px solid #fff;
}
#accueil #top-bar {
  position: fixed; z-index: 9; top: 0;
}
#top-bar div { float: right; }
#top-bar a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
}
#top-bar a:hover {
  background: rgba(255,255,255,0.15);
}


/* //////////////// MENU //////////////// *\
\* ////////////////////////////////////// */
#menu-wrapper {
  position: fixed; z-index: 9;
  height: calc(100% - #{$top-bar-height}); margin-top: $top-bar-height;
  width: 20%; max-width: 350px; min-width: 200px;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
#menu-wrapper:hover { transform: translateX(0); }
#menu-trigger {
  position: absolute; top: 0; right: -$menu-trigger-w;
  height: 100%; width: $menu-trigger-w;
  background: $menu-trigger-bg;
}
.arrow-right {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 0; height: 0;
  border: 0 solid transparent;
  border-width: 15px 0 15px 6px;
  border-left-color: #fff;
  opacity: 0.8;
}
nav {
  display: flex; height: 100%;
  flex-direction: column;
}
nav a {
  flex: 1;
  position: relative;
  color: #000 !important;
}
nav span, nav img {
  position: absolute; top: 50%; transform: translateY(-50%);
  opacity: 0.3;
  transition: opacity 0.5s;
}
nav span {
  margin-left: 35%;
  font: italic bold 120% Arial;
}
nav img {
  margin-left: 7%;
  width: 20%;
}
nav a + a { border-top: 1px solid $menu-trigger-bg; }
nav a:hover img { opacity: 1; }
nav a:hover span { opacity: 0.5; }


/* //////////////// TILES //////////////// *\
\* /////////////////////////////////////// */

#tiles-wrapper {
  list-style: none;
  max-width: 1300px; margin: 0 auto 0; height: 100%; padding: $top-bar-height 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; align-content: center;
}
#tiles-wrapper li {
  position: relative;
  flex: auto;
  width: 400px; height: 265px;
  margin: 5px;
  //border: 1px solid #fff;
}
#tiles-wrapper li:nth-child(1), .tile1 { background: $tile1; }
#tiles-wrapper li:nth-child(2), .tile2 { background: $tile2; }
#tiles-wrapper li:nth-child(3), .tile3 { background: $tile3; }
#tiles-wrapper li:nth-child(4), .tile4 { background: $tile4; }
#tiles-wrapper li:nth-child(5), .tile5 { background: $tile5; }
#tiles-wrapper li:nth-child(6), .tile6 { background: $tile6; }
#accueil.tile1 { background: $tile1-bg; }
#accueil.tile2 { background: $tile2-bg; }
#accueil.tile3 { background: $tile3-bg; }
#accueil.tile4 { background: $tile4-bg; }
#accueil.tile5 { background: $tile5-bg; }
#accueil.tile6 { background: $tile6-bg; }

#data-wrapper {
  background: $topbar-bg;
  padding: 0 15%;
  height: 300px;
  padding-top: 50px;
  //border-top: 1px solid #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#tiles-wrapper a {
  display: block;
  width: 100%; height: 100%;
  padding-top: 7%;
  font-size: 1.5em;
  color: #000;
  font-weight: bold; font-style: italic;
  text-align: center;
}
#tiles-wrapper span {
  opacity: 0.3;
  transition: opacity 1s;
}
#tiles-wrapper li:hover a, #tiles-wrapper li:active a, #tiles-wrapper li:focus a {
  text-decoration: none;
}
#tiles-wrapper li:hover span, #tiles-wrapper li:active span, #tiles-wrapper li:focus span {
  opacity: 0.5;
}
#tiles-wrapper li:hover img, #tiles-wrapper li:active img, #tiles-wrapper li:focus img {
  opacity: 1;
}
#tiles-wrapper img {
  opacity: 0.3;
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 1s;
}


/////////// STATISTIQUES ///////////
#data-uploads {
  width: 700px;
  color: #fff;
}
#data-uploads tr + tr {
  border-top: 1px solid #cbddeb;
}
#data-uploads td {
  padding: 10px 20px;
}
#data-wrapper a {
  display: block;
  background: rgba(255,255,255,0.6);
  width: 400px; height: 50px; line-height: 50px;
  padding-left: 55px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 13px;
}


/* //////////////// GED //////////////// *\
\* ///////////////////////////////////// */
#ged { background: #E5F6F1; }
#annuaire { background: #e9f6e4; }


main {
  position: relative;
  max-width: 85%;
  margin: 0 auto 0;
  padding-top: $top-bar-height + 50px;
}
#donnees {
  border: 0px solid #18889D;
}
th { border-bottom: 2px solid #E5F6F1 !important; }
.row-border td {
  border-bottom: 1px solid #E5F6F1 !important;
  border-top: 0 !important;
}
##{$datatables-name} thead th {
  background: #559FB2;
  color: #fff;
  font-weight: normal;
}
##{$datatables-name}_filter {
  display: block; width: 35%; height: 40px;
  min-width: 400px;
  margin-bottom: 30px;
}
##{$datatables-name}_filter label { width: 100%; height: 100%; }
##{$datatables-name}_filter input[type="search"] {
  width: 100%; height: 100%;
  float: right;
  padding: 0 40px;
  border: 1px solid rgba(0,0,0,0.5); outline: 0;
  border-radius: 4px;
}
##{$datatables-name}_filter ::-webkit-input-placeholder {
  color: #B8B8B8;
  font-style: italic;
  text-align: right;
}

#donnees tr.child { background: transparent; }
#donnees td.child {
  padding: 20px 5%;
}

.actions a + a {
  position: relative;z-index: 500;
  margin-left: 10px;
}

//tr.child, td.child, .slider,
.slider {
  display: block !important;
  max-width: 500px !important;
  word-wrap: break-word !important;
}


.not-expandable:before {
  content: '' !important;
  background: red !important;
  color: green !important;
}


.button-add, .button-add:visited {
  display: block; position: relative; z-index: 9; width: 30%; min-width: 250px; margin: -32px auto 0;
  text-align: center;
  padding: 15px 10px;
  background: #3DB2A8;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s;
}
.button-add:hover, .button-add:active {
  text-decoration: none;
  color: #fff;
  background: #35988F;
}



main {
  position: relative;
  margin-bottom: 50px;
}
.admin-form > form {
  max-width: 1000px; margin: auto;
  padding: 2% 5%;
  background: #D0E6EC;
}
.admin-form > form div {
  position: relative;
  height: 40px; line-height: 40px;
  margin: 15px 0;clear: both;
  //background: yellow;
}
.admin-form > form input,
.admin-form > form textarea {
  float: right;
  width: 80%; height: 100%;
  border: 0; outline: 0;
  padding: 5px 30px;
}
.admin-form > form textarea {
  height: 170px;
  margin-bottom: 15px;
  resize: none;
}
#gedbundle_documents_finDeVie {
  float: right; margin: 0;
}
.admin-form > form select {
  height: 40px; width: 100px;
  margin-left: 5px;
  border: 0; outline: 0;
}
.admin-form > form p {
  font-style: italic;
}
.admin-form > form button[type="submit"] {
  display: block;
  width: 70%;
  margin: 70px auto 0;
  background: #3DB2A8; color: #fff; border-radius: 5px; border: 0;
  transition: background 0.3s;
}
.admin-form > form button[type="submit"]:hover {
  background: #35988F;
}
h1 {
  max-width: 1000px;
  background: #559FB2;
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}
.flashbag {
  position: absolute;
  text-align: center;
  top: $top-bar-height; //left: 50%; transform: translateX(-50%);
  padding: 5px 15%;
  border-radius: 0 0 5px 5px;
  background: #2BB58E; color: #fff;
}





#document_save {
  background: #275C8B;
  border: none;
  width: 300px;
  color: #fff;
  padding: 10px;
  margin: 30px auto 20px;
  display: block;
  border-radius: 5px;
}

@media screen and (max-width: 800px) {
  .flashbag {
    left: 0; right: 0;
  }
  ##{$datatables-name}_filter {
    width: 100%;
  }
}