/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sort-asc-name: 'sort_asc';
$sort-asc-x: 0px;
$sort-asc-y: 0px;
$sort-asc-offset-x: 0px;
$sort-asc-offset-y: 0px;
$sort-asc-width: 19px;
$sort-asc-height: 19px;
$sort-asc-total-width: 57px;
$sort-asc-total-height: 38px;
$sort-asc-image: '../images/spritesheet.png';
$sort-asc: (0px, 0px, 0px, 0px, 19px, 19px, 57px, 38px, '../images/spritesheet.png', 'sort_asc', );
$sort-asc-disabled-name: 'sort_asc_disabled';
$sort-asc-disabled-x: 19px;
$sort-asc-disabled-y: 0px;
$sort-asc-disabled-offset-x: -19px;
$sort-asc-disabled-offset-y: 0px;
$sort-asc-disabled-width: 19px;
$sort-asc-disabled-height: 19px;
$sort-asc-disabled-total-width: 57px;
$sort-asc-disabled-total-height: 38px;
$sort-asc-disabled-image: '../images/spritesheet.png';
$sort-asc-disabled: (19px, 0px, -19px, 0px, 19px, 19px, 57px, 38px, '../images/spritesheet.png', 'sort_asc_disabled', );
$sort-both-name: 'sort_both';
$sort-both-x: 0px;
$sort-both-y: 19px;
$sort-both-offset-x: 0px;
$sort-both-offset-y: -19px;
$sort-both-width: 19px;
$sort-both-height: 19px;
$sort-both-total-width: 57px;
$sort-both-total-height: 38px;
$sort-both-image: '../images/spritesheet.png';
$sort-both: (0px, 19px, 0px, -19px, 19px, 19px, 57px, 38px, '../images/spritesheet.png', 'sort_both', );
$sort-desc-name: 'sort_desc';
$sort-desc-x: 19px;
$sort-desc-y: 19px;
$sort-desc-offset-x: -19px;
$sort-desc-offset-y: -19px;
$sort-desc-width: 19px;
$sort-desc-height: 19px;
$sort-desc-total-width: 57px;
$sort-desc-total-height: 38px;
$sort-desc-image: '../images/spritesheet.png';
$sort-desc: (19px, 19px, -19px, -19px, 19px, 19px, 57px, 38px, '../images/spritesheet.png', 'sort_desc', );
$sort-desc-disabled-name: 'sort_desc_disabled';
$sort-desc-disabled-x: 38px;
$sort-desc-disabled-y: 0px;
$sort-desc-disabled-offset-x: -38px;
$sort-desc-disabled-offset-y: 0px;
$sort-desc-disabled-width: 19px;
$sort-desc-disabled-height: 19px;
$sort-desc-disabled-total-width: 57px;
$sort-desc-disabled-total-height: 38px;
$sort-desc-disabled-image: '../images/spritesheet.png';
$sort-desc-disabled: (38px, 0px, -38px, 0px, 19px, 19px, 57px, 38px, '../images/spritesheet.png', 'sort_desc_disabled', );
$spritesheet-width: 57px;
$spritesheet-height: 38px;
$spritesheet-image: '../images/spritesheet.png';
$spritesheet-sprites: ($sort-asc, $sort-asc-disabled, $sort-both, $sort-desc, $sort-desc-disabled, );
$spritesheet: (57px, 38px, '../images/spritesheet.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
